NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_PUSHER_KEY=your-pusher-key
NEXT_PUBLIC_PUSHER_CLUSTER=ap3
NEXT_PUBLIC_PUSHER_FORCE_TLS=true
NEXT_PUBLIC_SHOW_INBOX_TYPING_INDICATOR=true
NEXT_PUBLIC_SHOW_CHAT_TYPING_INDICATOR=true
